//COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;

// FONT
$default-font-size: 1.6rem;
$heading-tertiary: 2.2rem;
$paragraph-font-size: 1.7rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// gradients
$secondary-gradient: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
$primary-gradient: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
$tertiary-gradient: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);