.card {
    //functionality
    perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        background-color: orangered;
        color: white;
        font-size: 2rem;

        height: 50rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden; //appliied this because the image was overflowing
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: $secondary-gradient;
            }

            &-2 {
                background-image: $primary-gradient;
            }

            &-3 {
                background-image: $tertiary-gradient;
            }
        }
    }

    //.card:hover .card__side
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);

        &--1 {
            background-image: $secondary-gradient, url(/img/nat-5.jpg);
        }

        &--2 {
            background-image: $primary-gradient, url(/img/nat-6.jpg);
        }

        &--3 {
            background-image: $tertiary-gradient, url(/img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1rem;
        box-decoration-break: clone;
        
        &--1 {
            background: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, 0.85),
                rgba($color-secondary-dark, 0.85)
            );
        }
 
        &--2 {
            background: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.85),
                rgba($color-primary-dark, 0.85)
            );
        }

        &--3 {
            background: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, 0.85),
                rgba($color-tertiary-dark, 0.85)
            );
        }
    }

    &__details{
        margin-top: 1.5rem;
        font-weight: 400;
        ul{
            list-style: none;
            width: 80%;
            margin:0 auto;
            color: black;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child){
                    border-bottom: 3px solid $color-grey-light-2;
                }
            }
        }
    }
}
