.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black , 0.5);
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1{
            left: 0rem;
            top: -2rem;
        }


        &--p2{
            right:0rem;
            top: 2rem;
        }

        &--p3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2rem 5rem rgba($color-black , 0.7);
            z-index: 2;
        }
    } 

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }

    //composition:hover composition__photo:not(:hover)
}