.feature-box{
    background-color: rgba($color-white , 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black , 0.4);
    transition: all .5s;

    &__icon{
        font-size: 6rem;

        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light , $color-primary-dark);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    &:hover{
        transform: translateY(-2rem) scale(1.05);   
    }
}