.section-about{
    background-color: $color-grey-light-1;
    margin-top: -20vh;
    padding: 25rem 0;
}

.section-features{
    padding: 25rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark,0.8)),
        url(/img/nat-4.jpg);

    background-size: cover;

    transform: skewY(-7deg);

    & > *{
        transform: skewY(7deg);
    }
    
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}